*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
background:#111827;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
}

.logo{
font-size:2rem;
font-weight:bold;
color:#22c55e;
}

nav{
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),
url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1600");
background-size:cover;
background-position:center;
}

.hero-content h1{
font-size:4rem;
margin-bottom:20px;
}

.hero-content p{
font-size:1.3rem;
margin-bottom:10px;
}

button{
padding:15px 25px;
background:#22c55e;
border:none;
border-radius:10px;
color:white;
font-size:1rem;
cursor:pointer;
margin-top:20px;
}

section{
padding:80px 20px;
text-align:center;
}

h2{
margin-bottom:20px;
font-size:2rem;
}
