body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
}

header{
background:#111827;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
text-align:center;
}

h1{
color:#22c55e;
}
#reserva{
padding:60px 20px;
text-align:center;
}

#reserva input,
#reserva select{
padding:12px;
margin:10px;
width:280px;
border-radius:10px;
border:none;
}

.importante{
color:#facc15;
font-weight:bold;
}
#asientos{
padding:60px 20px;
text-align:center;
}

.pantalla{
background:white;
color:black;
padding:15px;
max-width:350px;
margin:20px auto;
border-radius:10px;
font-weight:bold;
}

.mapa-asientos{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
justify-content:center;
margin-top:20px;
}

.asiento{
background:#22c55e;
color:white;
border:none;
padding:15px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}

.asiento.seleccionado{
background:#facc15;
color:black;
}

#confirmarAsiento{
margin-top:20px;
}
#combos{
padding:60px 20px;
text-align:center;
}

.combo{
background:#1e293b;
padding:20px;
margin:15px auto;
max-width:300px;
border-radius:15px;
}

.combo button{
margin-top:10px;
}

#carrito{
padding:60px 20px;
text-align:center;
}
#ticket{
padding:60px 20px;
text-align:center;
}

#ticketFinal{
background:white;
color:black;
max-width:450px;
margin:20px auto;
padding:25px;
border-radius:20px;
text-align:left;
border:4px dashed #000;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

.ticket-header{
text-align:center;
border-bottom:2px dashed #000;
padding-bottom:10px;
margin-bottom:15px;
}

.ticket-header h3{
margin:0;
font-size:28px;
}

.ticket-info{
margin:8px 0;
}

.ticket-footer{
text-align:center;
margin-top:15px;
border-top:2px dashed #000;
padding-top:10px;
font-size:14px;
}
